body{
	font-family: lucida grande, tahoma, verdana, arial, sans-serif;
	background-color: #EEEEEE;
}

body p{
	font-size: 0.8em;
	line-height: 1.28;
}
.container {
	height: 600px;
	width: 1080px;
	float: left;
	overflow:auto;
}

#wrapper
{
	width: 1080px;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #decede;

}

#banner
{
	background-color: lightblue;
	background-image: url("Images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border: 3px solid #decede;
	height: 150px;
	
}

#content_area
{

	width: 1080px;
	height: 420px;
	margin: 20px 10px;
	padding: 10px 10px 10px 10px;
	overflow:auto;
}


#footer{
	width: auto;
	height: 40px;
	padding: 10px;
	border: 3px solid #decede;
	text-align: right;
	background-color: white;
	background-image: url("Images/background.jpg");
}




#navigation
{
	height: 60px;
	border: 3px solid #decede;
	margin-top: 20px;
	text-shadow: 0.1em 0.1em #333
	background-color: white;
	background-image: url("Images/background.jpg");
}

#nav
{
	list-style: none;	
}

#nav ul
{
	margin: 0;
	width: auto;
	padding: 0;
	display: none;
	
}

#nav li
{
	font-size: 22px;
	float:left;
	position: relative;
	width: 120px;
	height: 50px;

}

#nav a:link, nav a:active, nav  a:visited
{
	display: block;
	color: #fff;
	text-decoration: none;

}

#nav a:hover
{
	color: black;
}

#creationacc
{
	display: block;
	width: 150px;
	height: 150px;
	float: center;
	margin: 10px;
	padding: 10px;
	background.color: white;
	border: transparent;
}
.item{
	float:left;
	width: 250px;
	height: 250px;
	margin: 10px;

}
.item2{
	float:left;
	width: 350px;
	height: 350px;
	margin: 10px;

}

